[Unit]
Description=Nuphy 75v2 Keyboard
After=network.target

[Service]
Type=simple
ExecStart=/home/f/bin/kmonad /home/f/dotfiles/kmonad/config/nuphy75v2.kbd
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
