[Unit]
Description=X1 Carbon Internal Keyboard
After=network.target

[Service]
Type=simple
ExecStart=/home/f/bin/kmonad /home/f/dotfiles/kmonad_cfg/x1.kbd
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
